.Politics {
  padding: 32px 15px 48px;
  font-size: 12px;
  
}

.Politics__title {
  font-weight: 600;
  font-size: res(18, 24);
  line-height: 120%;
  margin-bottom: 24px;
  color: $green;
}

.Politics__text {
  font-size: res(12, 16);
  line-height: 120%;
  color: $green;
}