.Main_largetitle {
  font-size: res(30, 47);
}

.Main__logoImg {
  margin-bottom: 24px;
}

.Grapefruit{
  width: res(171, 271);
  height: res(167, 267);
  position: absolute;
  top: -25px;
  left: -40px;
  z-index: 0;
  svg {
    width: 100%;
    height: 100%;
  }
}

.Strawberry{
  width: res(167, 367);
  height: res(198, 398);
  position: absolute;
  top: res(-65,-200);
  right: 10px;
  z-index: 0;
  svg {
    width: 100%;
    height: 100%;
  }
}

.Leftgroup{
  width: res(228, 328);
  height: res(423, 523);
  position: absolute;
  bottom: -13px;
  left: -70px;
  z-index: 0;
  svg {
    width: 100%;
    height: 100%;
  }
}

.Rightgroup {
  width: res(243, 343);
  height: res(437, 537);
  position: absolute;
  bottom: -137px;
  right: -95px;
  z-index: 0;
  svg {
    width: 100%;
    height: 100%;
  }
}


.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.Record {
  font-size: 15px;
  line-height: 120%;
  color: $turquoise;
    span {
      color: $black;
    }
}