@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

* {
  /* font-size: 0; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  /* font-size: 15px; */
  text-decoration: none;    
}


html {
  min-height: 100%;
  line-height: 120%;
}