.BaseTitle_center {
  text-align: center;
}

.BaseTitle_left {
  text-align: left;
}

.BaseTitle {
  font-size: res(24, 37);
  font-family: $font-DrukWideCy;
  text-transform: uppercase;
  color: $green;
  line-height: 120%;
}