.BaseTitle {
  text-align: center;
  margin-bottom: 8px;
}
.h1 {
  font-size: 30px;
  font-family: $font-DrukWideCy;
  text-transform: uppercase;
  color: $black;
  line-height: 120%;
  span {
    font-size: 24px;
  }
}