.Coupons_topimg, .Coupons_botimg {
  position: absolute;
}

.Coupons_topimg {
  top: 0;
  right: 0;
}

.Coupons_botimg {
  bottom: 0;
  right: 0;
}

.Coupons {
  position: relative;  
  margin-top: 42px;
  padding-bottom: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.default {
  text-align: center;
  display: flex;
  justify-content: center;
}

.Coupons_item {
  background: $light_beige;
  border-radius: 30px;
  padding: 150px 0px 32px;
  position: relative;
}

.Coupons_item_default {
  width: res(260, 260);
}

.Coupons_description {
  font-size: res(15, 15);
  color: $turquoise;
  text-align: center;
}

.Avocado, .Mango {
  position: absolute;
  top: -42px;
  left: calc(50% - 80px);
}

.Coupons_social {
  margin-top: 32px;
}

