.Main_largetitle {
  font-size: res(30, 30);
}

.Main__logoImg {
  margin-bottom: 24px;
}

.Grapefruit{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.Strawberry{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.Leftgroup{
  position: absolute;
  bottom: -0px;
  left: 0px;
  z-index: 0;
}

.Rightgroup {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}


.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.Record {
  font-size: 15px;
  line-height: 120%;
  color: $turquoise;
    span {
      color: $black;
    }
}